version: '3.8'

services:
  app_srv:
    build:
      context: .
      target: base
      dockerfile: ./Dockerfile
    command: yarn start:dev
    links:
      - redis
    ports:
      # 8080 is the default port
      - ${SERVER_EXTERNAL_PORT:-7574}:${SERVER_PORT:-8080}
    volumes:
      - ./locales/:/home/node/app/locales/
      - ./.env:/home/node/app/.env
    networks:
      - ystuty_network
    healthcheck:
      test: curl --fail http://localhost:${SERVER_PORT:-8080}/uptime || exit 1
      interval: 2m
      retries: 3
      start_period: 40s
      timeout: 10s
    restart: unless-stopped
    stdin_open: true # docker run -i
    tty: true        # docker run -t

  redis:
    image: 'redis:alpine'
    volumes:
      - ./redis-data:/data
    networks:
      - ystuty_network
    restart: unless-stopped

networks:
  ystuty_network:
    external:
      name: ystuty_network
